.xp-subtitle {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 7px;
  text-transform: uppercase;
}

.xp-details {
  color: rgba(#000, .6);
  font-size: 14px;
  margin: 0;
  word-break: keep-all;
}

.xp-company {
  text-transform: uppercase;
}
