<main class="mainContainer">
  <div class="header">
    <div class="picture">
      <%= image_tag 'photo.jpg', width: 128, height: 148 %>
    </div>

    <div class="identity">
      <h1>Elisabeth Courtois</h1>
      <p class="h-subtitle">Communication <span class="separator"></span> Marketing Digital</p>
    </div>

    <ul class="contactDetailsList">
      <li class="contactDetail mod-location"><strong>Saint-Germain-en-Laye</strong></li>
      <li class="contactDetail mod-website"><a href="#"><strong>elisabeth-courtois.fr</strong></a></li>
      <li class="contactDetail mod-linkedIn"><a href="#"><strong>Elisabeth Courtois</strong></a> sur LinkedIn</li>
    </ul>
  </div>

  <div class="heroSection">
    <h2>A propos</h2>

    <p class="heroSection-text">" Précédemment au sein d’une entreprise BtoB fournisseur d’équipements
      dédiés aux essais mécaniques, acoustiques & au monitoring, j’ai pu me familiariser avec
      le marketing de produits très techniques au travers de deux ans d’expérience en
      marketing digital & communication. Aujourd’hui, je souhaite évoluer vers un poste
      proposant plus de responsabilités, au sein d’une équipe dynamique. "</p>
  </div>

  <div class="resumeContent">
    <div class="resumeContent-panel">
      <div class="resumeSection">
        <h2>Competences</h2>

        <div class="timelineItemsList">
          <div class="timelineItem">
            <h3>Marketing digital</h3>

            <dl class="skillsList">
              <dt class="skill-name">Pack Office</dt>
              <dd class="skill-value">7/10</dd>

              <dt class="skill-name">Intégration HTML/CSS</dt>
              <dd class="skill-value">8/10</dd>

              <dt class="skill-name">Logiciels Adobe & Sketch</dt>
              <dd class="skill-value">6/10</dd>

              <dt class="skill-name">Rédaction Web</dt>
              <dd class="skill-value">8/10</dd>

              <dt class="skill-name">Wordpress</dt>
              <dd class="skill-value">9/10</dd>

              <dt class="skill-name">Community management</dt>
              <dd class="skill-value">9/10</dd>

              <dt class="skill-name">Référencement</dt>
              <dd class="skill-value">6/10</dd>

              <dt class="skill-name">Emailing</dt>
              <dd class="skill-value">9/10</dd>

              <dt class="skill-name">Traduction</dt>
              <dd class="skill-value">8/10</dd>

              <dt class="skill-name">Gestion de projet</dt>
              <dd class="skill-value">6/10</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="resumeSection">
        <h2> Langues parlées</h2>

        <div class="spokenLanguage mod-full">
          <div class="spokenLanguage-name">Anglais</div>
          <div class="spokenLanguage-status">Bilingue</div>
        </div>
        <div class="spokenLanguage mod-full">
          <div class="spokenLanguage-name">Russe</div>
          <div class="spokenLanguage-status">Bilingue</div>
        </div>
        <div class="spokenLanguage mod-quarter">
          <div class="spokenLanguage-name">Espagnol</div>
          <div class="spokenLanguage-status">Basique</div>
        </div>
      </div>

      <div class="resumeSection">
        <h2>Loisirs</h2>

        <ul class="hobbiesList">
          <li class="hobby mod-painting">Aquarelle<br />depuis 2 ans</li
          ><li class="hobby mod-cake">Cake-Design</li
          ><li class="hobby mod-charity">Petit Frères des Pauvres<br />depuis 4 ans</li
          ><li class="hobby mod-nails">Prothésie<br />Ongulaire</li
          ><li class="hobby mod-nlp">Programmation<br />Neuro-lingusique</li
          ><li class="hobby mod-sports">Fitness,<br />natation &amp; running</li>
        </ul>
      </div>

    </div>
    <div class="resumeContent-panel">
      <div class="resumeSection">
        <h2>Experience professionnelle</h2>

        <div class="timelineItemsList">
          <div class="timelineItem">
            <h3>Septembre 2016 à septembre 2018 (2 ans)</h3>
            <p class="xp-subtitle">Chargée de Communication Marketing Digital</p>
            <p class="xp-details">
              <span class="xp-company">PCB Piezotronics</span>
              - Saclay, Essonne</p>
          </div>
          <div class="timelineItem">
            <h3>Mars 2016 à Septembre 2016 (6 mois)</h3>
            <p class="xp-subtitle">Assistante Chef de Projet Web / Marketing</p>
            <p class="xp-details">
              <span class="xp-company">Edulib</span>
              - Paris</p>
          </div>
          <div class="timelineItem">
            <h3>Octobre 2015 à Décembre 2015</h3>
            <p class="xp-subtitle">Integratrice</p>
            <p class="xp-details">
              <span class="xp-company">Grand Manitou</span>
              - Paris</p>
          </div>
          <div class="timelineItem">
            <h3>Avril 2014 à Septembre 2015 (6 mois)</h3>
            <p class="xp-subtitle">Developpeuse Front-end</p>
            <p class="xp-details">
              <span class="xp-company">MisterBNB</span>
              - Paris</p>
          </div>
          <div class="timelineItem">
            <h3>Septembre 2013 à Février 2014</h3>
            <p class="xp-subtitle">Stagiaire Developpeuse Front-end</p>
            <p class="xp-details">
              <span class="xp-company">WISEMETRICS</span>
              - Neuilly-sur-Seine</p>
          </div>
        </div>
      </div>

      <div class="resumeSection">
        <h2>Formation</h2>

        <div class="timelineItemsList">
          <div class="timelineItem">
            <h3 class="mod-year">2016 - 2018</h3>
            <p class="xp-subtitle">IESA Multimedia</p>
            <p class="xp-details">Titre d’Expert en Stratégie Digitale<br />
              Social Media Webmarketing</p>
          </div>
          <div class="timelineItem">
            <h3 class="mod-year">2013 - 2016</h3>
            <p class="xp-subtitle">Hetic</p>
            <p class="xp-details">Licence Chef de Projet Multimédia<br />
              Bachelor Web spécialité développement web front-end</p>
          </div>
          <div class="timelineItem">
            <h3 class="mod-year">2010 - 2013</h3>
            <p class="xp-subtitle">Sorbonne Paris IV</p>
            <p class="xp-details">Licence de Langues Etrangères Appliquées<br />
              Anglais - Russe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
